<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>向育學自傳履歷</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:black; font-size:60px;}
		h2 {color:blue; font-size:40px;}
		h3 {color:black; font-size:30px;}
	</style>


</head>
<body>
	<table width="70%">
		<tr>
			<td>
		<img src="https://www1.pu.edu.tw/~s1100411/picture/學/o.jpg"width="80%"></img>
	</td>>

	<td>
		<h1></h1><br>
	</td>
</tr>
</table>
<table width="80%" border="1">
<tr>
	<td>
	<h3>自我介紹</h3>
		我是向育學,目前就讀靜宜大學企管系的大生，由於對資訊能力想要學習更多東西，因此選了這門課
	</td>

	<td>
		<h3>未來規劃</h3>
			在未來的工作我希望我能夠將我在企管系學的工作與在資訊課程所學到的東西做結合，讓我在未來求職上更有競爭力
	</td>

	<td>
	<h3>對自己的期許</h3>
		我的大學生活來到了最後一年,明年的我已經從這所大學畢業,或許那時的我已經踏入職場,雖然對未來還沒有做好完整的規劃，但有大致想好未來要做什麼，希望能夠順順利利。
	</td>

</tr>
</table>

</body>