<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>職涯測驗分析</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:black; font-size:60px;}
		h2 {color:blue; font-size:40px;}
		h3 {color:black; font-size:30px;}
	</style>


</head>
<body>
	<table width="70%">
		<tr>
			<td>
		<img src="https://www1.pu.edu.tw/~s1100411/picture/學/j3.jpg"width="80%"></img>
	</td>>

	<td>
		<h1>測驗結果</h1><br>
	</td>
</tr>
</table>
<table width="80%" border="1">
<tr>
	<td>
	<h3>基本資訊</h3>
		學校:<br>
			靜宜大學<br>
		科系:<br>
			企業管理學系<br>
		姓名:<br>
			向育學<br>
	</td>

	<td>
		<h3>職業興趣診斷</h3>
			<img src="https://www1.pu.edu.tw/~s1100411/picture/學/j1.jpg"width="100%"></img>
	</td>

	<td>
	<h3>共通職能診斷(Holland Code)</h3>
	<img src="https://www1.pu.edu.tw/~s1100411/picture/學/j2.jpg"width="100%"></img>
	</td>

	<td>
	<h3>其他相關網站(cpas)</h3><br>
		<a href="https://reurl.cc/9R9ZKd">https://reurl.cc/9R9ZKd</a><br>
	</td>
</tr>
</table>

</body>