<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ESG永續報告顧問師全職</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:50px;}
		h2 {color:black; font-size:20px;}
	</style>
	


</head>
<body>
	<table width="70%">
		<tr>
			<td>
		<img src="https://www1.pu.edu.tw/~s1100411/picture/學/104.jpg"width="110%"></img>
	</td>>

	<td>
		<h1>華宇企業管理顧問股份有限公司  </h1><br>
	</td>
</tr>
</table>
<table width="70%" border="1">
<tr>
	<td>
	<h2>關於公司</h2><br>
		名稱:華宇企業管理顧問股份有限公司 <br>
		上班地點:台中市西屯區<br>
		工作內容:<br>
			1. 至企業進行ESG永續發展之診斷與輔導。<br>
			2. 協助企業規劃永續發展機制。<br>
			3. 協助企業撰寫永續報告書及製作<br> 
			4. 輔導管理系統落實於企業內。<br>  
			5. 輔導進度與品質之確保。 <br>
	Contact:<br>
		公司網站:<a href=" https://aheadmaster.com/"> https://aheadmaster.com/</a><br>
		人才招募介紹:華宇成立已42年，累積12,000餘家企業輔導經驗，可深度學習各項相關知識，並可實際接觸各產業與各中大型企業之經營管理。<br>
	</td>

	<td>
		<h2>職務介紹</h2><br>
			ESG永續報告顧問師<br>
			系統整合專案師、<br>
			ERP專案師、<br>
	</td>

	<td>
	<h2>徵才條件</h2><br>
		工作經歷:10年以上<br>
		學歷要求:大學以上<br>
		科系要求:不拘<br>
		語文條件:不拘<br>
		擅長工具:不拘<br>
		其他條件:<br>
				無<br>
				
	</td>
</tr>
</table>

</body>